   
  .animated{
    -webkit-animation: bounce 4s infinite;
    animation: bounce 4s both infinite;
    margin-right: -80px;
  }
   
   
  @-webkit-keyframes bounce {
      0% {-webkit-transform: translateY(0); opacity: 0;}
    60% { opacity: 1;}
    100% {-webkit-transform: translateX(-80px); opacity: 0}
  }
   
  @-moz-keyframes bounce {
      0% {-webkit-transform: translateY(0); opacity: 0;}
    60% { opacity: 1;}
    100% {-webkit-transform: translateX(-80px); opacity: 0}
  }
   
  @-o-keyframes bounce {
      0% {-webkit-transform: translateY(0); opacity: 0;}
    60% { opacity: 1;}
    100% {-webkit-transform: translateX(-80px); opacity: 0}
  }
  @keyframes bounce {
      0% {-webkit-transform: translateY(0);
      opacity: 0;}
    60% { opacity: 1;}
    100% {-webkit-transform: translateX(-80px); opacity: 0}
  }